@import url("./styles/product-menu-styles.css");
* {
	box-sizing: border-box;
}

html *,
html *::before,
html *::after {
	box-sizing: inherit;
}

:root {
	--top-elements: 8vh;
	--bgColorItem: hsl(354,91%,22%);
	--bgColorMenu: hsl(354,91%,22%);
	--duration: .7s;
	--white: hsla(0, 100%, 100%, 1);
	--black: hsla(0, 0%, 0%, 1);
	--black_shadow: hsla(0, 0%, 0%, 0.1);
	--body_bg: hsla(57, 100%, 91%, 0.5);
	--text_color: hsl(240,2%,21%);
	--logo_vd_red: hsl(354,91%,22%);
	--shadow_red: hsl(0,100%,19.6%);
	--dummy_your_color: hsl(0,100%,19.6%);
	--spaces_6: 6px;
	--shadow-color: 354deg 91% 22%;
	--shadow-elevation-low: 0px 0px 0px hsl(var(--shadow-color) / 0.52),
    0px -0.1px 0.1px -1.2px hsl(var(--shadow-color) / 0.52),
    0px -0.2px 0.2px -2.5px hsl(var(--shadow-color) / 0.52);
	--shadow-elevation-medium: 0px 0px 0px hsl(var(--shadow-color) / 0.55),
    0px -0.1px 0.1px -0.8px hsl(var(--shadow-color) / 0.55),
    0px -0.3px 0.3px -1.7px hsl(var(--shadow-color) / 0.55),
    -0.1px -0.8px 0.9px -2.5px hsl(var(--shadow-color) / 0.55);
	--shadow-elevation-high: 0px 0px 0px hsl(var(--shadow-color) / 0.58),
    0px -0.3px 0.3px -0.1px hsl(var(--shadow-color) / 0.58),
    -0.1px -0.6px 0.7px -1.1px hsl(var(--shadow-color) / 0.58),
    -0.1px -1.1px 1.2px -0.9px hsl(var(--shadow-color) / 0.58),
    -0.2px -1.9px 2.1px -0.7px hsl(var(--shadow-color) / 0.58),
    -0.3px -3.1px 3.3px -0.5px hsl(var(--shadow-color) / 0.58),
    -0.4px -4.8px 5.2px -0.3px hsl(var(--shadow-color) / 0.58);
}

body {
	background-image: url("./images/yellow-bubbles-bg.jpg");
	background-color: hsla(60,100%,50%,10%);
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Montserrat', sans-serif;
}

#page-wrapper {
	display: flex;
	justify-content: space-around;
}

.container {
	position: relative;
	top: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text {
	position: absolute;
	font-size: 1rem;
	color: #fff;
	z-index: 4;
}

.box {
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: #950000;
	z-index: 2;
}

.bullet {
	position: absolute;
	width: 75px;
	height: 75px;
	background-color: #950000;
	border-radius: 50%;
	z-index: 1;
	opacity: 0;
}

.clearfix {
  clear: both;
}
